.workouts td {
    vertical-align: top;
}

workoutchart {
    font-size: 10px;
}

workoutchart .axis path,
workoutchart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

workoutchart .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

workoutchart .grid {
    fill: none;
}

workoutchart .grid line {
    stroke: #ccc;
}

workoutchart .grid line.minor {
    stroke: #eee;
}

workoutchart .grid text {
    display: none;
}
