{% extends "_layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="app" ng-app="noprogress">
    <div class="row">
        <div class="large-12 columns">
            <workoutchart></workoutchart>
        </div>
    </div>
    <div class="row">
        <div class="large-4 small-8 columns">
            <aside class="panel" ng-controller="StrStdCtrl">
                <ul class="side-nav">
                    <li ng-repeat="lift in api.lifts" ng-hide="!last[lift]">
                        <h4><%= api.liftNames[lift] %> <small><%= last[lift] | reprSets %></small></h4>
                        <div class="progress"><span class="meter" ng-style="{width: percents[lift] + '%'}"></span></div>
                        <div style="position: relative; height: 32px; font-size: 0.6em">
                            <div style="position: absolute; left: 0;">Untrained<br><%= grades[lift].untrained %>kg</div>
                            <div style="position: absolute; left: 25%; width: 100px; text-align: center; margin-left: -50px;">Novice<br><%= grades[lift].novice %>kg</div>
                            <div style="position: absolute; left: 50%; width: 100px; text-align: center; margin-left: -50px;">Intermediate<br><%= grades[lift].intermediate %>kg</div>
                            <div style="position: absolute; left: 75%; width: 100px; text-align: center; margin-left: -50px;">Advanced<br><%= grades[lift].advanced %>kg</div>
                            <div style="position: absolute; right: 0; text-align: right;">Elite<br><%= grades[lift].elite %>kg</div>
                        </div>
                    </li>
                </ul>
            </aside>
        </div>

        <div class="large-8 columns">
            <form class="row collapse" ng-controller="LogWorkoutCtrl" ng-submit="doLog()">
                <div class="small-11 columns">
                    <textarea ng-model="log" placeholder="Example: today|squat@137.5x3+137.5x4,deadlift@42.5x5+42.5x5+42.5x4 # comment"></textarea>
                </div>
                <div class="small-1 columns">
                    <button class="prefix" type="submit">Log</button>
                </div>
            </form>
            <div class="row" ng-controller="WorkoutsCtrl" ng-show="workouts.length > 0">
                <div class="large-12 columns">
                    <ul class="pagination">
                        <li class="arrow" ng-class="{unavailable: currentPage == 1}"><a href="#" ng-click="previousPage()">&laquo;</a></li>
                        <li ng-repeat="page in pages" ng-class="{current: page == currentPage}"><a href="#" ng-click="goToPage(page)"><%= page %></a></li>
                        <li class="arrow" ng-class="{unavailable: currentPage == totalPages}"><a href="#" ng-click="nextPage()">&raquo;</a></li>
                    </ul>

                    <table class="workouts">
                        <thead>
                            <tr>
                                <th width="100">Date</th>
                                <th width="150" ng-repeat="lift in api.lifts"><%= api.liftNames[lift] %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="workout in workouts">
                                <td><%=workout.date %></td>
                                <td ng-repeat="lift in api.lifts" ng-bind-html-unsafe="workout.liftSetsMap[lift] | reprSets"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{url_for('static', filename='app/main.js')}}"></script>
{% endblock %}
