
.icon-appstore:before { content: '\41'; } /* 'A' */
.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-email:before { content: '\5d'; } /* ']' */
.icon-lastfm:before { content: '\6c'; } /* 'l' */