@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #1b1f20;
}

#wrapper {
	position: absolute;
	height: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

#register {
	display: none;
}

#form {
	width: 200px;
	margin: 0 auto;
	border: 0px;
}

fieldset {
	border: none;
}

input {
	font-family: 'Open Sans', sans-serif;
	padding-left: 10px;
	width: 92%;
	height: 35px;
	display: block;
}

input:focus + label,
input:active + label {
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3); 
}

.submit {
	width: 100%;
	background-color: #ec3f47;
	margin: 25px 0;
	padding: 0;
	border: none;
	border-radius: 2px;
	font-weight: 600;
	color: #fff;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}

:-ms-input-placeholder {  
   color: #ccc;  
}

.formText {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 14px;
	margin-bottom: 1em;
	font-weight: 600;
}
	

.content {
	position: absolute; 
	top: 25%;
	display: table-cell; 
	vertical-align: middle;
	width: 100%;
	margin: auto auto;
	}

.introText {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	color: #fff;
	margin: 0;
	padding: 0;
	font-weight: 700;
}

.subText {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
}

.small {
	font-size: 14px;
	margin: 20px;
}

.tiny {
	font-size: 12px;
	margin: 20px;
	text-transform: uppercase;
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}

a.twitter {
	color: #fff;
	text-align: center;
	padding-top: 8px;
}

.iconSub {
	text-align: center;
}

.twitterTab {
    background: url("images/sprite.svg") no-repeat scroll 18px -979px #ec3f47;
    border-top-left-radius: 3px;
	border-top-right-radius: 3px;
    bottom: 0;
    content: "";
    height: 26px;
    left: 50%;
    margin-left: -29px;
    position: absolute;
    transition: height 0.05s ease-in-out 0s;
    width: 58px;
    z-index: 20;
}

.twitterTab:hover {
	height: 30px;
}

.button {
	height: 100px;
	width: 100px;
	border-radius: 3px;
	padding: 10px 15px;
	text-align: center;
	border: 1px solid #fff;
	border-bottom: 3px solid #fff;
	
}

.red:hover {
	border: 1px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #ec3f47;
}

.red:active {
	
	border: 1px solid #fff;
	border-top: 3px solid #ccc;
	background-color: #ec3f47;
}

@media all and (max-width: 640px) and (max-height: 960px) {
  .content {
	position: absolute; 
	top: 25%;
	display: table-cell; 
	vertical-align: middle;
	width: 100%;
	margin: auto auto;
	}
}
		
